vrrp_script check_coredns {
    script "killall -0 coredns"
    interval 2
    weight 2
}

vrrp_instance VI_DNS {
    state {{ keepalived_state | default('BACKUP') }}
    interface {{ dns_keepalived_interface }}
    virtual_router_id {{ dns_keepalived_router_id }}
    priority {{ keepalived_priority | default(100) }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ dns_keepalived_auth_pass }}
    }
    virtual_ipaddress {
        {{ dns_keepalived_vip }}
    }
    track_script {
        check_coredns
    }
}
