---
_meta:
  type: "internalusers"
  config_version: 2

admin:
  hash: "{{ wazuh_indexer_admin_password_hash }}"
  reserved: true
  hidden: false
  backend_roles:
    - "admin"
  attributes:
    attribute1: "value1"
  description: "Admin user"

kibanaserver:
  hash: "{{ wazuh_indexer_kibanaserver_password_hash }}"
  reserved: true
  hidden: false
  backend_roles:
    - "kibanaserver"
  attributes:
    attribute1: "value1"
  description: "Kibana server user"

kibanaro:
  hash: "$2a$12$KElgljT9YwJHhx8QZy6ZueI9HHCvBnE8YzPZM9WxM5K3N4Q5R6S7T"
  reserved: false
  hidden: false
  backend_roles:
    - "kibanaro"
  attributes:
    attribute1: "value1"
  description: "Kibana read only user"

logstash:
  hash: "$2a$12$KElgljT9YwJHhx8QZy6ZueI9HHCvBnE8YzPZM9WxM5K3N4Q5R6S7T"
  reserved: false
  hidden: false
  backend_roles:
    - "logstash"
  attributes:
    attribute1: "value1"
  description: "Logstash user"