server.host: "{{ wazuh_indexer_ip }}"
server.port: 443

opensearch.hosts: https://{{ wazuh_indexer_ip }}:9200
opensearch.ssl.verificationMode: none
opensearch.username: kibanaserver
opensearch.password: "{{ wazuh_indexer_kibanaserver_password }}"
opensearch.requestHeadersWhitelist: ["securitytenant"]

opensearch_security.multitenancy.enabled: true
opensearch_security.multitenancy.tenants.preferred: ["Global"]
opensearch_security.readonly_mode.enabled: true
opensearch_security.cookie.secure: false

server.ssl.enabled: false