apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://172.16.30.90:9090
    isDefault: true
    editable: true

  - name: Loki
    type: loki
    access: proxy
    url: http://172.16.30.90:3100
    isDefault: false
    editable: true

  - name: Wazuh Indexer
    type: opensearch
    access: proxy
    url: https://172.16.30.85:9200
    basicAuth: true
    basicAuthUser: admin
    secureJsonData:
      basicAuthPassword: kosa1004
    jsonData:
      index: "wazuh-alerts-*"
      timeField: "timestamp"
      version: "7.10.2"
      tlsSkipVerify: true
    isDefault: false
    editable: true
