vrrp_script check_apiserver {
    script "curl -sf https://127.0.0.1:6443/healthz --insecure"
    interval 5
    weight 2
}

vrrp_instance VI_K8S {
    state {{ keepalived_state | default('BACKUP') }}
    interface {{ k8s_vip_interface }}
    virtual_router_id {{ k8s_vip_router_id }}
    priority {{ keepalived_priority | default(100) }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass {{ k8s_vip_auth_pass }}
    }
    virtual_ipaddress {
        {{ k8s_vip }}
    }
    track_script {
        check_apiserver
    }
}
