[mysqld]
user = mysql
datadir = {{ mysql_data_dir }}
log_error = {{ mysql_log_dir }}/error.log
tmpdir = /tmp

bind-address = {{ pxc_bind_address }}
port = {{ pxc_port }}

wsrep_provider = {{ wsrep_provider_path.stdout | default('/usr/lib/galera4/libgalera_smm.so') }}

wsrep_cluster_name = {{ pxc_cluster_name }}
wsrep_cluster_address = gcomm://{{ pxc_first_node_ip if not pxc_bootstrap else '' }}

wsrep_node_name = {{ inventory_hostname }}
wsrep_node_address = {{ ansible_host }}

wsrep_sst_method = xtrabackup-v2

wsrep_applier_threads = 4
wsrep_certify_nonPK = 1

pxc_strict_mode = ENFORCING

innodb_autoinc_lock_mode = 2
innodb_redo_log_capacity = 512M
innodb_buffer_pool_size = {{ (ansible_facts.memtotal_mb * 0.3) | int }}M
innodb_flush_log_at_trx_commit = 0
innodb_flush_method = O_DIRECT
innodb_buffer_pool_instances = 1

performance_schema = OFF
skip_name_resolve = 1
table_definition_cache = 256
table_open_cache = 256

log_bin = binlog
binlog_format = ROW
binlog_expire_logs_seconds = 604800
sync_binlog = 0

max_connections = 1000
max_connect_errors = 100
wait_timeout = 28800
interactive_timeout = 28800

character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

skip_name_resolve = 1

[client]
port = {{ pxc_port }}
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4