# 컨트롤 노드 VM 설정
TEMPLATE_VMID=9003
CONTROL_VMID=2210
CONTROL_NAME="control"

# 네트워크
BRIDGE="vmbr0"
VLAN=30
CONTROL_IP="172.16.30.7"
NETMASK=24
CONTROL_GW="172.16.30.1"

# 리소스
CORES=2
MEMORY=2048
STORAGE_POOL="rbd-storage"

# VM 계정 (TODO: Vault 구성 시 제거)
CIUSER="kosa"
CIPASSWORD="<PASSWORD>"
