proxmox_api_url          = "https://192.168.34.4:8006/api2/json"
proxmox_api_token_id     = "terraform-prov@pve!terraform-token"
proxmox_api_token_secret = "<TOKEN_SECRET>"

# 프로비저닝된 VM에 주입할 SSH 공개키 목록
ssh_public_key = [
  "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAA... kosa@control"
]
